@import url(https://fonts.googleapis.com/css?family=Titillium+Web:700,300,400);

*{
padding:0;
margin:0;
}

#wraper {
width: 1440px;
margin: 0 auto;
}

li {
	list-style: none
	}
	
a {text-decoration: none;
	}

h1 {
text-align: center;
}	

h2 {
text-align: center;
text-transform: uppercase;
}

h2:after {
content: '';
background-image: url("../img/layout/line.png");
background-position: 20px 50px;
}

.block_content{
width: 1100px;
margin: 0 auto;

}

.position {
padding: 120px 170px;
}
.button {
padding: 29px 80px;
width: 293px;
text-align: center;
text-transform: uppercase;
}
.button_position 
{margin: 0 auto;}

/* B L O C K  №1 */
#block_1 {
color: white;
background-color: #87509c;
padding-top: 60px;
}

#block_1 .button {
background-color: #eb7d4b;
}
 
#block_1 .block_content {
background: url("../img/layout/logo.png") 42px 0 no-repeat; 
padding-bottom: 25px;
}

#main_navigation {
float: right;
text-transform: uppercase;


}

.main_navigation_item  {
display: inline-block;
color: white;
padding: 8px 9px;
width: 59px;
height: 16px;
margin: 0 auto;
}

.main_navigation_item:hover {
background-color: #643a79;
}

/* B L O C K  №2 */
#block_1 h1 {
padding-top: 120px;
width: 908px;
margin: 0 auto;
}



#block_1 .button {
border-bottom: 4px solid #c86a40;
margin-top: 60px;
text-transform: uppercase;
}


#block_2{
background-color:#17c2a4;
color: white;

}

.navigation_2_item {
	display: inline-block;
	width: 200px;
	
}
.navigation_2_item_name {
text-transform: uppercase;
text-align: center;
padding: 60px 0 28px 0;
}
.navigation_2_item_descr{
text-align: center;
text-overflow: ellipsis; /*it doesn`t work*/
}


#block_3 {
background-color: #e7f1f8;

}

.content_3_item {
overflow: hidden;
display: inline-block;
padding: 0 30px;
width: 200px;
text-align:center;
margin-top: 80px;
}

.content_3_item img{
width: 200px;
height: 200px;
background-color: rgb(135, 135, 135);
border-radius: 100px;

}
.content_3_item_name {
padding-top: 45px;
text-transform: uppercase;
margin: 0 auto;
font: 24px 'Titillium'bold;

}

.content_3_item_position {
color: #48c1e9;
font-size: 16px;
font-family: 'Titillium';
margin: 15px 0;
}



#block_4 {
background-color:#ffffff;

}
#block_4 .line {
background-color: #dfe8ed;
}

/* B L O C K  №5 */
#block_5 {
background-color:#ffdd99;
}

#block_5 .button {
background-color: #17c2a4;
}

#block_5 .box {
display: inline-block;

}

#block_5 .box li {
display: inline-block;
background-color: #ebc985;

}

#block_5 .box li a{
height: 18px;
padding: 10px 20px;
display: inline-block;
text-transform: uppercase;
text-decoration: none;
color: black;

}

#block_5 .box li a:hover {
background-color: white;
}

.portfolio {

	}

.portfolio_img {
height: 306px;
width: 551px;
background: url("../img/layout/comp.png") no-repeat; 
}

.portfolio_img img {
float: right;
padding: 17px 65px 0 0;
}



#block_6 {
background-color:#d74680;

}
.client_name {
text-transform: uppercase;
}


.client_position {
color: #ffdd99;
}

#block_7 {
background-color:#3c5499
}

#block_7 .button {
background-color: #30bae7;}


#block_7 input {
background-color: #273a71;
border: none;
}
#block_7 h2{

color: white;
text-transform: uppercase;
}
#public_sites li {

display: inline-block;
padding: 46px 23px;
}
#public_sites li a{
color: white;}