*{
padding:0;
margin:0;
}

#wraper {
width: 1440px;
margin: 0 auto;

}

li {
	list-style: none
	}
	
a {text-decoration: none;
	}
	

.block_content{
width: 1100px;
margin: 0 270px;
}

#block_1 {
background-color:87509c;
min-height: 598px;
text-transform: uppercase;

}
#main_navigation {
margin-top: 60px;
float: right;
}

.main_navigation_item  {
display: inline-block;
color: white;
//padding: 8px 9px;
width: 77px;
height: 32px;
}

.main_navigation_item a:hover {

background-color: #643a79;


}

#block_1 h2 {
padding-top:240px;


}


.button {
background-color: #eb7d4b;
padding: 29px 80px;
width: 293px;
margin: 0 auto;
text-align: center;
}

#block_2{
background-color:#17c2a4;
 height: 747px;
}

.navigation_2_item {
	display: inline-block;
}





#block_3 {
background-color: #e7f1f8;
min-height: 916px;
}

#block_4 {
background-color:#ffffff;
min-height: 660px;
}


#block_5 {
background-color:#ffdd99;
min-height: 1425px;
}


#block_6 {
background-color:#d74680;
min-height: 898px;}

#block_7 {
background-color:#3c5499}

#public_sites {
display: inline-block;

}

